*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background-color:  rgb(15,23,42);
    height: 295vh;
    background-image: url(stars1.png);

}
.profile{
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    transform: translateY(5%);
    align-items: center;
    flex-basis: 200px;
    margin-bottom: 200px;
}
.profile img{
    height: 50%;
    border-radius: 50%;
    margin-bottom: 20px;
    border: solid 10px #610abe;
}
.name{
    font-size: 40px;
    color: #fff;
    padding: 3px;
    letter-spacing: 2px;
    background-image: linear-gradient(to right bottom, #690adc,#0793da);
    border-radius: 8px;
    
    transition: .5s;
}
.name:hover{
    font-size: 50px;
}
.pr{
    font-size: 25px;
    margin-top: 20px;
    width:90%;
    color: #fff;
    font-weight: 700;
    text-align: center;
    transition: .5s;
    margin-top: 40px;
    margin-bottom: 20px;
}
.pr:hover{
    font-size: 30px;
}
.skills{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 100px
}
.skill-box{
    width: 300px;
    height: 300px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right bottom, #680adc4a,#0794da4f);
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    transition: .5s;
}
.skill-box:hover{
    width: 320px;
    height: 320px;
    font-size: 27px;
    background-image: linear-gradient(to right bottom, #680adc80,#0794da81);

}
.skill-box p{
    position: relative;
    z-index: 2;
    
}
.skill-box i{
    font-size: 35px;
    margin-bottom: 20px;
}
#mobile:hover , #net:hover{
    font-size: 22px;
}
.my-skills{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
}
.my-p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
}
.projects{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}
.projects img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 30px;
    border: 4px solid #8f17ffc3;
}